<mat-toolbar color="primary">
    <span>Detalhes do contatos</span>
</mat-toolbar>

<div class="form">
    <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Telefone</mat-label>
        <input matInput>
    </mat-form-field>

</div>

<div class="actions">
    <button routerLink="/contacts" mat-raised-button>Voltar para lista</button>
    <button type="submit" mat-raised-button color="primary">Salvar</button>
</div>